@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.Portada {
    background: linear-gradient(rgba(255, 255, 255, 0.8), #64748b9f), url(https://img.freepik.com/fotos-premium/moderna-sala-blanca-chimenea_244125-173.jpg?w=2000);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    padding-top: 48px;
    padding-bottom: 48px;
  
  }
